@model MangaShop.Models.MangaViewModel

@{
    ViewData["Title"] = "Store";
}

<h2 class="my-4">Store</h2>


<form asp-action="Index" class="col-2 my-1 p-2">
    <div>
        Filter search
        <div class="my-1">
            <input type="text" name="searchString" placeholder="Title or Author" class="form-control-sm col-12" />
        </div>
        <div class="my-1">
            <input type="number" name="minPrice" step="1" placeholder="$min" class="form-control-sm col-5" />&nbsp;&#8212;&nbsp;<input type="number" name="maxPrice" step="1" placeholder="$max" class="form-control-sm col-5" />
        </div>
        <input type="submit" value="Filter" class="btn btn-primary btn-sm" />
        <a asp-action="Index" class="btn btn-secondary btn-sm" style="float: right">Clear</a>
    </div>
</form>


<div class="row">
    @foreach (var book in Model.Mangas)
    {
        <div class="col-3">
            <div class="card my-2 store-card">
                <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@book.Id">
                    <img src="@book.VolumeImage" class="card-img-top card-img-custom">
                    <div class="card-body" style="height: 8em;">
                        <h5 class="mb-3">@book.Title</h5>
                        <h5 class="mb-3">Volume @book.Volume</h5>
                    </div>
                    <div class="card-body">
                        <span class="card-text">@book.Price.ToString("c")</span>
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.Id" class="btn btn-primary store-btn" style="float: right"><i class="fa-solid fa-cart-plus"></i></a>
                    </div>
                </a>
            </div>
        </div>
    }
    <div class="d-flex justify-content-center mt-3">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, searchString = Model.SearchString, minPrice = Model.MinPrice, maxPrice = Model.MaxPrice })">
                        @i
                    </a>
                </li>
            }
        </ul>
    </div>
</div>